/*
 * Mailpit API
 * OpenAPI 2.0 documentation for [Mailpit](https://github.com/axllent/mailpit).
 *
 * The version of the OpenAPI document: v1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package software.xdev.mailpit.api;

import com.fasterxml.jackson.core.type.TypeReference;

import software.xdev.mailpit.client.ApiException;
import software.xdev.mailpit.client.ApiClient;
import software.xdev.mailpit.client.BaseApi;
import software.xdev.mailpit.client.Configuration;
import software.xdev.mailpit.client.Pair;

import software.xdev.mailpit.model.DeleteMessagesParamsRequest;
import software.xdev.mailpit.model.MessagesSummary;
import software.xdev.mailpit.model.SetReadStatusParamsRequest;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Locale;
import java.util.Map;
import java.util.StringJoiner;

public class MessagesApi extends BaseApi {

  public MessagesApi() {
    super(Configuration.getDefaultApiClient());
  }

  public MessagesApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Delete messages
   * Delete individual or all messages. If no IDs are provided then all messages are deleted.
   * @param body Delete request (optional)
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String deleteMessagesParams(@jakarta.annotation.Nullable DeleteMessagesParamsRequest body) throws ApiException {
    return this.deleteMessagesParams(body, Collections.emptyMap());
  }


  /**
   * Delete messages
   * Delete individual or all messages. If no IDs are provided then all messages are deleted.
   * @param body Delete request (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String deleteMessagesParams(@jakarta.annotation.Nullable DeleteMessagesParamsRequest body, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = body;
    
    // create path and map variables
    String localVarPath = "/api/v1/messages";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "text/plain"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<String> localVarReturnType = new TypeReference<String>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Delete messages by search
   * Delete all messages matching [a search](https://mailpit.axllent.org/docs/usage/search-filters/).
   * @param query Search query (required)
   * @param tz [Timezone identifier](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) used only for &#x60;before:&#x60; &amp; &#x60;after:&#x60; searches (eg: \&quot;Pacific/Auckland\&quot;). (optional)
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String deleteSearchParams(@jakarta.annotation.Nonnull String query, @jakarta.annotation.Nullable String tz) throws ApiException {
    return this.deleteSearchParams(query, tz, Collections.emptyMap());
  }


  /**
   * Delete messages by search
   * Delete all messages matching [a search](https://mailpit.axllent.org/docs/usage/search-filters/).
   * @param query Search query (required)
   * @param tz [Timezone identifier](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) used only for &#x60;before:&#x60; &amp; &#x60;after:&#x60; searches (eg: \&quot;Pacific/Auckland\&quot;). (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String deleteSearchParams(@jakarta.annotation.Nonnull String query, @jakarta.annotation.Nullable String tz, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'query' is set
    if (query == null) {
      throw new ApiException(400, "Missing the required parameter 'query' when calling deleteSearchParams");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/search";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("query", query));
    localVarQueryParams.addAll(apiClient.parameterToPair("tz", tz));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<String> localVarReturnType = new TypeReference<String>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * List messages
   * Returns messages from the mailbox ordered from newest to oldest.
   * @param start Pagination offset (optional, default to 0)
   * @param limit Limit number of results (optional, default to 50)
   * @return MessagesSummary
   * @throws ApiException if fails to make API call
   */
  public MessagesSummary getMessagesParams(@jakarta.annotation.Nullable Long start, @jakarta.annotation.Nullable Long limit) throws ApiException {
    return this.getMessagesParams(start, limit, Collections.emptyMap());
  }


  /**
   * List messages
   * Returns messages from the mailbox ordered from newest to oldest.
   * @param start Pagination offset (optional, default to 0)
   * @param limit Limit number of results (optional, default to 50)
   * @param additionalHeaders additionalHeaders for this call
   * @return MessagesSummary
   * @throws ApiException if fails to make API call
   */
  public MessagesSummary getMessagesParams(@jakarta.annotation.Nullable Long start, @jakarta.annotation.Nullable Long limit, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/api/v1/messages";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("start", start));
    localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<MessagesSummary> localVarReturnType = new TypeReference<MessagesSummary>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Search messages
   * Returns messages matching [a search](https://mailpit.axllent.org/docs/usage/search-filters/), sorted by received date (descending).
   * @param query Search query (required)
   * @param start Pagination offset (optional, default to 0)
   * @param limit Limit results (optional, default to 50)
   * @param tz Optional [timezone identifier](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) used only for &#x60;before:&#x60; &amp; &#x60;after:&#x60; searches (eg: \&quot;Pacific/Auckland\&quot;). (optional)
   * @return MessagesSummary
   * @throws ApiException if fails to make API call
   */
  public MessagesSummary searchParams(@jakarta.annotation.Nonnull String query, @jakarta.annotation.Nullable String start, @jakarta.annotation.Nullable String limit, @jakarta.annotation.Nullable String tz) throws ApiException {
    return this.searchParams(query, start, limit, tz, Collections.emptyMap());
  }


  /**
   * Search messages
   * Returns messages matching [a search](https://mailpit.axllent.org/docs/usage/search-filters/), sorted by received date (descending).
   * @param query Search query (required)
   * @param start Pagination offset (optional, default to 0)
   * @param limit Limit results (optional, default to 50)
   * @param tz Optional [timezone identifier](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) used only for &#x60;before:&#x60; &amp; &#x60;after:&#x60; searches (eg: \&quot;Pacific/Auckland\&quot;). (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return MessagesSummary
   * @throws ApiException if fails to make API call
   */
  public MessagesSummary searchParams(@jakarta.annotation.Nonnull String query, @jakarta.annotation.Nullable String start, @jakarta.annotation.Nullable String limit, @jakarta.annotation.Nullable String tz, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'query' is set
    if (query == null) {
      throw new ApiException(400, "Missing the required parameter 'query' when calling searchParams");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/search";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("query", query));
    localVarQueryParams.addAll(apiClient.parameterToPair("start", start));
    localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
    localVarQueryParams.addAll(apiClient.parameterToPair("tz", tz));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<MessagesSummary> localVarReturnType = new TypeReference<MessagesSummary>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Set read status
   * You can optionally provide an array of IDs or a search string. If neither IDs nor search is provided then all mailbox messages are updated.
   * @param tz Optional [timezone identifier](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) used only for &#x60;before:&#x60; &amp; &#x60;after:&#x60; searches (eg: \&quot;Pacific/Auckland\&quot;). (optional)
   * @param body  (optional)
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String setReadStatusParams(@jakarta.annotation.Nullable String tz, @jakarta.annotation.Nullable SetReadStatusParamsRequest body) throws ApiException {
    return this.setReadStatusParams(tz, body, Collections.emptyMap());
  }


  /**
   * Set read status
   * You can optionally provide an array of IDs or a search string. If neither IDs nor search is provided then all mailbox messages are updated.
   * @param tz Optional [timezone identifier](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) used only for &#x60;before:&#x60; &amp; &#x60;after:&#x60; searches (eg: \&quot;Pacific/Auckland\&quot;). (optional)
   * @param body  (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String setReadStatusParams(@jakarta.annotation.Nullable String tz, @jakarta.annotation.Nullable SetReadStatusParamsRequest body, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = body;
    
    // create path and map variables
    String localVarPath = "/api/v1/messages";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("tz", tz));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "text/plain"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<String> localVarReturnType = new TypeReference<String>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "PUT",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "text/plain"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
