/*
 * Mailpit API
 * OpenAPI 2.0 documentation for [Mailpit](https://github.com/axllent/mailpit).
 *
 * The version of the OpenAPI document: v1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package software.xdev.mailpit.api;

import com.fasterxml.jackson.core.type.TypeReference;

import software.xdev.mailpit.client.ApiException;
import software.xdev.mailpit.client.ApiClient;
import software.xdev.mailpit.client.BaseApi;
import software.xdev.mailpit.client.Configuration;
import software.xdev.mailpit.client.Pair;

import software.xdev.mailpit.model.Message;
import software.xdev.mailpit.model.ReleaseMessageParamsRequest;
import software.xdev.mailpit.model.SendMessageParams200Response;
import software.xdev.mailpit.model.SendMessageParams400Response;
import software.xdev.mailpit.model.SendMessageParamsRequest;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Locale;
import java.util.Map;
import java.util.StringJoiner;

public class MessageApi extends BaseApi {

  public MessageApi() {
    super(Configuration.getDefaultApiClient());
  }

  public MessageApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Get message attachment
   * This will return the attachment part using the appropriate Content-Type.  The ID can be set to &#x60;latest&#x60; to reference the latest message.
   * @param ID Message database ID or \&quot;latest\&quot; (required)
   * @param partID Attachment part ID (required)
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String attachmentParams(@jakarta.annotation.Nonnull String ID, @jakarta.annotation.Nonnull String partID) throws ApiException {
    return this.attachmentParams(ID, partID, Collections.emptyMap());
  }


  /**
   * Get message attachment
   * This will return the attachment part using the appropriate Content-Type.  The ID can be set to &#x60;latest&#x60; to reference the latest message.
   * @param ID Message database ID or \&quot;latest\&quot; (required)
   * @param partID Attachment part ID (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String attachmentParams(@jakarta.annotation.Nonnull String ID, @jakarta.annotation.Nonnull String partID, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'ID' is set
    if (ID == null) {
      throw new ApiException(400, "Missing the required parameter 'ID' when calling attachmentParams");
    }
    
    // verify the required parameter 'partID' is set
    if (partID == null) {
      throw new ApiException(400, "Missing the required parameter 'partID' when calling attachmentParams");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/message/{ID}/part/{PartID}"
      .replaceAll("\\{" + "ID" + "\\}", apiClient.escapeString(apiClient.parameterToString(ID)))
      .replaceAll("\\{" + "PartID" + "\\}", apiClient.escapeString(apiClient.parameterToString(partID)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/*", "image/*", "text/*"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<String> localVarReturnType = new TypeReference<String>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get message source
   * Returns the full email source as plain text.  The ID can be set to &#x60;latest&#x60; to return the latest message source.
   * @param ID Message database ID or \&quot;latest\&quot; (required)
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String downloadRawParams(@jakarta.annotation.Nonnull String ID) throws ApiException {
    return this.downloadRawParams(ID, Collections.emptyMap());
  }


  /**
   * Get message source
   * Returns the full email source as plain text.  The ID can be set to &#x60;latest&#x60; to return the latest message source.
   * @param ID Message database ID or \&quot;latest\&quot; (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String downloadRawParams(@jakarta.annotation.Nonnull String ID, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'ID' is set
    if (ID == null) {
      throw new ApiException(400, "Missing the required parameter 'ID' when calling downloadRawParams");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/message/{ID}/raw"
      .replaceAll("\\{" + "ID" + "\\}", apiClient.escapeString(apiClient.parameterToString(ID)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "text/plain"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<String> localVarReturnType = new TypeReference<String>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get message headers
   * Returns the message headers as an array. Note that header keys are returned alphabetically.  The ID can be set to &#x60;latest&#x60; to return the latest message headers.
   * @param ID Message database ID or \&quot;latest\&quot; (required)
   * @return Map&lt;String, List&lt;String&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public Map<String, List<String>> getHeadersParams(@jakarta.annotation.Nonnull String ID) throws ApiException {
    return this.getHeadersParams(ID, Collections.emptyMap());
  }


  /**
   * Get message headers
   * Returns the message headers as an array. Note that header keys are returned alphabetically.  The ID can be set to &#x60;latest&#x60; to return the latest message headers.
   * @param ID Message database ID or \&quot;latest\&quot; (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return Map&lt;String, List&lt;String&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public Map<String, List<String>> getHeadersParams(@jakarta.annotation.Nonnull String ID, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'ID' is set
    if (ID == null) {
      throw new ApiException(400, "Missing the required parameter 'ID' when calling getHeadersParams");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/message/{ID}/headers"
      .replaceAll("\\{" + "ID" + "\\}", apiClient.escapeString(apiClient.parameterToString(ID)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<Map<String, List<String>>> localVarReturnType = new TypeReference<Map<String, List<String>>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get message summary
   * Returns the summary of a message, marking the message as read.  The ID can be set to &#x60;latest&#x60; to return the latest message.
   * @param ID Message database ID or \&quot;latest\&quot; (required)
   * @return Message
   * @throws ApiException if fails to make API call
   */
  public Message getMessageParams(@jakarta.annotation.Nonnull String ID) throws ApiException {
    return this.getMessageParams(ID, Collections.emptyMap());
  }


  /**
   * Get message summary
   * Returns the summary of a message, marking the message as read.  The ID can be set to &#x60;latest&#x60; to return the latest message.
   * @param ID Message database ID or \&quot;latest\&quot; (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return Message
   * @throws ApiException if fails to make API call
   */
  public Message getMessageParams(@jakarta.annotation.Nonnull String ID, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'ID' is set
    if (ID == null) {
      throw new ApiException(400, "Missing the required parameter 'ID' when calling getMessageParams");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/message/{ID}"
      .replaceAll("\\{" + "ID" + "\\}", apiClient.escapeString(apiClient.parameterToString(ID)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<Message> localVarReturnType = new TypeReference<Message>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Release message
   * Release a message via a pre-configured external SMTP server. This is only enabled if message relaying has been configured.  The ID can be set to &#x60;latest&#x60; to reference the latest message.
   * @param ID Message database ID (required)
   * @param body  (optional)
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String releaseMessageParams(@jakarta.annotation.Nonnull String ID, @jakarta.annotation.Nullable ReleaseMessageParamsRequest body) throws ApiException {
    return this.releaseMessageParams(ID, body, Collections.emptyMap());
  }


  /**
   * Release message
   * Release a message via a pre-configured external SMTP server. This is only enabled if message relaying has been configured.  The ID can be set to &#x60;latest&#x60; to reference the latest message.
   * @param ID Message database ID (required)
   * @param body  (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String releaseMessageParams(@jakarta.annotation.Nonnull String ID, @jakarta.annotation.Nullable ReleaseMessageParamsRequest body, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = body;
    
    // verify the required parameter 'ID' is set
    if (ID == null) {
      throw new ApiException(400, "Missing the required parameter 'ID' when calling releaseMessageParams");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/message/{ID}/release"
      .replaceAll("\\{" + "ID" + "\\}", apiClient.escapeString(apiClient.parameterToString(ID)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "text/plain"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<String> localVarReturnType = new TypeReference<String>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Send a message
   * Send a message via the HTTP API.
   * @param body  (optional)
   * @return SendMessageParams200Response
   * @throws ApiException if fails to make API call
   */
  public SendMessageParams200Response sendMessageParams(@jakarta.annotation.Nullable SendMessageParamsRequest body) throws ApiException {
    return this.sendMessageParams(body, Collections.emptyMap());
  }


  /**
   * Send a message
   * Send a message via the HTTP API.
   * @param body  (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return SendMessageParams200Response
   * @throws ApiException if fails to make API call
   */
  public SendMessageParams200Response sendMessageParams(@jakarta.annotation.Nullable SendMessageParamsRequest body, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = body;
    
    // create path and map variables
    String localVarPath = "/api/v1/send";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<SendMessageParams200Response> localVarReturnType = new TypeReference<SendMessageParams200Response>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get an attachment image thumbnail
   * This will return a cropped 180x120 JPEG thumbnail of an image attachment. If the image is smaller than 180x120 then the image is padded. If the attachment is not an image then a blank image is returned.  The ID can be set to &#x60;latest&#x60; to return the latest message.
   * @param ID Message database ID or \&quot;latest\&quot; (required)
   * @param partID Attachment part ID (required)
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String thumbnailParams(@jakarta.annotation.Nonnull String ID, @jakarta.annotation.Nonnull String partID) throws ApiException {
    return this.thumbnailParams(ID, partID, Collections.emptyMap());
  }


  /**
   * Get an attachment image thumbnail
   * This will return a cropped 180x120 JPEG thumbnail of an image attachment. If the image is smaller than 180x120 then the image is padded. If the attachment is not an image then a blank image is returned.  The ID can be set to &#x60;latest&#x60; to return the latest message.
   * @param ID Message database ID or \&quot;latest\&quot; (required)
   * @param partID Attachment part ID (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String thumbnailParams(@jakarta.annotation.Nonnull String ID, @jakarta.annotation.Nonnull String partID, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'ID' is set
    if (ID == null) {
      throw new ApiException(400, "Missing the required parameter 'ID' when calling thumbnailParams");
    }
    
    // verify the required parameter 'partID' is set
    if (partID == null) {
      throw new ApiException(400, "Missing the required parameter 'partID' when calling thumbnailParams");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/message/{ID}/part/{PartID}/thumb"
      .replaceAll("\\{" + "ID" + "\\}", apiClient.escapeString(apiClient.parameterToString(ID)))
      .replaceAll("\\{" + "PartID" + "\\}", apiClient.escapeString(apiClient.parameterToString(partID)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "image/jpeg"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<String> localVarReturnType = new TypeReference<String>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "image/jpeg"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
