/*
 * Mailpit API
 * OpenAPI 2.0 documentation for [Mailpit](https://github.com/axllent/mailpit).
 *
 * The version of the OpenAPI document: v1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package software.xdev.mailpit.api;

import com.fasterxml.jackson.core.type.TypeReference;

import software.xdev.mailpit.client.ApiException;
import software.xdev.mailpit.client.ApiClient;
import software.xdev.mailpit.client.BaseApi;
import software.xdev.mailpit.client.Configuration;
import software.xdev.mailpit.client.Pair;

import software.xdev.mailpit.model.HTMLCheckResponse;
import software.xdev.mailpit.model.LinkCheckResponse;
import software.xdev.mailpit.model.SpamAssassinResponse;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Locale;
import java.util.Map;
import java.util.StringJoiner;

public class OtherApi extends BaseApi {

  public OtherApi() {
    super(Configuration.getDefaultApiClient());
  }

  public OtherApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * HTML check
   * Returns the summary of the message HTML checker.  The ID can be set to &#x60;latest&#x60; to return the latest message.
   * @param ID Message database ID or \&quot;latest\&quot; (required)
   * @return HTMLCheckResponse
   * @throws ApiException if fails to make API call
   */
  public HTMLCheckResponse hTMLCheckParams(@jakarta.annotation.Nonnull String ID) throws ApiException {
    return this.hTMLCheckParams(ID, Collections.emptyMap());
  }


  /**
   * HTML check
   * Returns the summary of the message HTML checker.  The ID can be set to &#x60;latest&#x60; to return the latest message.
   * @param ID Message database ID or \&quot;latest\&quot; (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return HTMLCheckResponse
   * @throws ApiException if fails to make API call
   */
  public HTMLCheckResponse hTMLCheckParams(@jakarta.annotation.Nonnull String ID, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'ID' is set
    if (ID == null) {
      throw new ApiException(400, "Missing the required parameter 'ID' when calling hTMLCheckParams");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/message/{ID}/html-check"
      .replaceAll("\\{" + "ID" + "\\}", apiClient.escapeString(apiClient.parameterToString(ID)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<HTMLCheckResponse> localVarReturnType = new TypeReference<HTMLCheckResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Link check
   * Returns the summary of the message Link checker.  The ID can be set to &#x60;latest&#x60; to return the latest message.
   * @param ID Message database ID or \&quot;latest\&quot; (required)
   * @param follow Follow redirects (optional, default to false)
   * @return LinkCheckResponse
   * @throws ApiException if fails to make API call
   */
  public LinkCheckResponse linkCheckParams(@jakarta.annotation.Nonnull String ID, @jakarta.annotation.Nullable String follow) throws ApiException {
    return this.linkCheckParams(ID, follow, Collections.emptyMap());
  }


  /**
   * Link check
   * Returns the summary of the message Link checker.  The ID can be set to &#x60;latest&#x60; to return the latest message.
   * @param ID Message database ID or \&quot;latest\&quot; (required)
   * @param follow Follow redirects (optional, default to false)
   * @param additionalHeaders additionalHeaders for this call
   * @return LinkCheckResponse
   * @throws ApiException if fails to make API call
   */
  public LinkCheckResponse linkCheckParams(@jakarta.annotation.Nonnull String ID, @jakarta.annotation.Nullable String follow, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'ID' is set
    if (ID == null) {
      throw new ApiException(400, "Missing the required parameter 'ID' when calling linkCheckParams");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/message/{ID}/link-check"
      .replaceAll("\\{" + "ID" + "\\}", apiClient.escapeString(apiClient.parameterToString(ID)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("follow", follow));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<LinkCheckResponse> localVarReturnType = new TypeReference<LinkCheckResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * SpamAssassin check
   * Returns the SpamAssassin summary (if enabled) of the message.  The ID can be set to &#x60;latest&#x60; to return the latest message.
   * @param ID Message database ID or \&quot;latest\&quot; (required)
   * @return SpamAssassinResponse
   * @throws ApiException if fails to make API call
   */
  public SpamAssassinResponse spamAssassinCheckParams(@jakarta.annotation.Nonnull String ID) throws ApiException {
    return this.spamAssassinCheckParams(ID, Collections.emptyMap());
  }


  /**
   * SpamAssassin check
   * Returns the SpamAssassin summary (if enabled) of the message.  The ID can be set to &#x60;latest&#x60; to return the latest message.
   * @param ID Message database ID or \&quot;latest\&quot; (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return SpamAssassinResponse
   * @throws ApiException if fails to make API call
   */
  public SpamAssassinResponse spamAssassinCheckParams(@jakarta.annotation.Nonnull String ID, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'ID' is set
    if (ID == null) {
      throw new ApiException(400, "Missing the required parameter 'ID' when calling spamAssassinCheckParams");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/message/{ID}/sa-check"
      .replaceAll("\\{" + "ID" + "\\}", apiClient.escapeString(apiClient.parameterToString(ID)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<SpamAssassinResponse> localVarReturnType = new TypeReference<SpamAssassinResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
